@import '@/app/register/register.module.scss';
@import '@/config/media-queries.scss';
@import '@/app/variables.module.scss';

.wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include sm {
        flex-direction: column;
    }
}

.right-content {
    @include sm {
        width: auto;
        margin-bottom: 50px;
    }
}

.list {
    list-style: none;
    padding-top: 22px;
}

.item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    & svg {
        fill: $primary-color;
        width: 25px;
        height: 25px;
    }

    & p {
        margin: 0;
        margin-left: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $text-color;
    }

    @include sm {
        & p {
            font-size: 15px;
        }
    }
}
