@import '../../config/media-queries.scss';
@import '@/app/variables.module.scss';

.wrapper {
    display: flex;
    align-items: center;
    width: 978px;
    padding: 36px 0;
    justify-content: space-evenly;
    background: $white-color;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.035), 0px 6.6px 5.3px rgba(0, 0, 0, 0.03),
        0px 2.7px 2.2px rgba(0, 0, 0, 0.0196802);
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid $tertiary-color;

    @include sm {
        width: auto;
        height: auto;
        flex-direction: column;
        padding: 32px 0;
        margin-top: 12px;
        box-shadow: none;
        border: none;
    }

    @include sm-xl {
        width: auto;
        justify-content: center;
        flex-direction: column;
        padding: 36px;
    }

    @include sm-md {
        margin-top: 100px;
    }
}

.question {
    width: 400px;
    margin-bottom: 24px;
    padding: 0 12px;

    & h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: $secondary-color;
        margin: 12px 0;
    }

    & img {
        min-width: 350px;
        height: auto;
    }

    & h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $black-color;
    }

    & p:not(:first-child) {
        color: $black-color;
    }

    & > p:first-child {
        @include gt-sm {
            display: none;
        }
    }

    & p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $black-color;
        margin-top: 15px;
    }

    @include sm {
        width: auto;

        & img {
            width: calc(100vw - 32px);
        }
    }
}

.answers-list {
    button {
        border: none;
        cursor: pointer;
    }

    @include sm {
        margin-top: 36px;
    }
}

.answers-item {
    width: 340px;
    /* height: 56px; */
    padding: 8px;
    display: flex;
    align-items: center;
    background: $background-color;
    border-radius: 42px;
    margin-bottom: 20px;

    @include gt-sm {
        &:last-child {
            margin-bottom: 0;
        }
    }

    & > span:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        background: $white-color;
        border-radius: 21px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $black-color;
        margin-right: 16px;
    }

    & h1,
    & p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $black-color;
    }

    & img {
        max-width: 200px;
    }

    &:hover {
        background-color: $tertiary-color;
    }

    &:focus,
    &:focus-visible,
    &.active {
        background: $primary-color;

        h1,
        p {
            color: $white-color;
        }
    }
}

.submit-btn {
    display: none;

    @include md {
        cursor: pointer;
        color: $primary-color;
        display: block;
    }
}
