@import '../../config/media-queries.scss';

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

.header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* height: 65px; */
    background-color: #fff;
    /* box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%); */

    & svg {
        width: 52px;
        height: 70px;
    }

    & p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #374141;
    }

    @include md {
        display: flex;
        flex-direction: column;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 100vw;
    background-color: #fff;
    min-height: 100vh;
    display: flex;

    @include md {
        width: 100vw;
        background: #fff;
        margin-top: 60px;
        min-height: calc(100vh - 65px);
    }
}
