@import '../../config/media-queries.scss';

.wrapper {
    display: flex;
    min-width: 100vw;
    background: #f5f5f5;

    @include sm {
        background: #fff;
    }
}

.container {
    margin-left: 375px;
    padding: 20px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > p {
        color: #bdbdbd;
    }

    @include md {
        margin-left: 0;
    }

    @include md-lg {
        margin-left: 350px;
    }
}

.questions {
    display: flex;
    height: max-content;
    width: 100%;
    overflow-y: hidden;
    width: 100%;
    padding: 4px;

    &::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
        height: 4px;
    }

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #919196;
        min-width: 83px;
        height: 35px;
        border-radius: 50px;
        cursor: pointer;
    }

    & span.active {
        background: #33bd64;
        color: #fff;
    }

    @include md {
        position: fixed;
        background-color: #fff;
    }
}
