@import '../../config/media-queries.scss';
@import '../variables.module.scss';
@import '@/app/variables.module.scss';

.wrapper {
    display: flex;
    min-width: 100vw;
    background: $background-color;

    @include sm {
        background: $white-color;
    }
}

.container {
    margin-left: 375px;
    padding: 20px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // & > p {
    //     color: $text-color;
    // }

    @include md {
        margin-left: 0;
    }

    @include md-lg {
        margin-left: 350px;
    }
}

.questions {
    display: flex;
    height: max-content;
    width: 100%;
    overflow-y: hidden;
    width: 100%;
    padding: 4px;

    &::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
        height: 4px;
    }

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-color;
        min-width: 83px;
        height: 35px;
        border-radius: 50px;
        cursor: pointer;
    }

    & span.active {
        background: $primary-color;
        color: $white-color;
    }

    @include md {
        position: fixed;
        background-color: $white-color;
    }
}
